* {
  font-family: Helvetica, sans_serif;
  font-size: 12px; }

.results {
  padding-top: 20px; }



.containers {
  clear: both;
  width: 500px; }
  .containers .popup {
    min-height: 20px;
    /*cursor: move;*/
    border: 1px solid #888;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 1px 2px 4px #aaa;
    background: #eee; }
    .containers .popup .header {
      padding: 5px; }
    .containers .popup .content {
      min-height: 40px;
      height: auto;
      width: 100%;
      border-top: 1px solid #888888;
      background: white none repeat scroll 0% 0%;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px; }


.ui-state-hover{
    color:#999;
    background: #ff0000 !important;
}
/*
.ui-state-default{
    background: #000!important;
}
*/