$font_stack:  Helvetica, sans_serif;
$primary_font_size: 12px;
$primary_padding: 5px;

$primary_background:#eee;
$primary_height:auto;
$full_width: 100%;
$min_height: 20px;
$min_height_cnt: 40px;
$box_shadow: 1px 2px 4px #aaa;

$hover_clr:red;

//popup specific
$popup_brdr: 1px solid #888; 
$popup_mrgn: 10px;

//containers
$cntr_brdr: 1px solid #0f0;
$cntr_width: 500px;

//results
$pad_top: 20px;

* { font_family: $font_stack; font_size: $primary_font_size; width:$full_width;}

.popup{ 
    border: $popup_brdr; 
    margin: $popup_mrgn; 
    border_radius: $primary_padding;
    box_shadow: $box_shadow;
    background:$primary_background;
}

.containers { 
    clear: both;
}

.containers .popup{
    min_height: $min_height;
    cursor:move;
}

.containers .popup .header{
    padding:$primary_padding;
}

.containers .popup .content{
    min_height: $min_height_cnt;
    height:$primary_height;
    width: $full_width;
    border_top: 1px solid rgb(136, 136, 136);
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    border_bottom_right_radius: $primary_padding;
    border_bottom_left_radius: $primary_padding;
}



.containers .ph {
    margin: $popup_mrgn;
    border: $cntr_brdr;
    border_radius: $primary_padding;
}
.results{
  padding-top: $pad_top; 
}


.ui_state_hover{
    background:$hover_clr;
}
